{% extends "base.html" %}

<!-- Title ------------------->
{% block title %} اشتراک مقاله {% endblock title %}

{% block content %}

    {% if is_sent %}

        <!-- show Message --------------------------------------------->
        {% include 'partials/_messages.html' %}
        <a href="{{ post.get_absolute_url }}">بازگشت</a>

    {% else %}

        <h1>Share "{{ post.title }}" by e-mail</h1>
        <form method="post" novalidate>
            {{ form.as_p }}
            {% csrf_token %}
            <input type="submit" value="Send e-mail">
        </form>

    {% endif %}

{% endblock %}
    