{% extends 'base.html' %}


{% block content %}
<div class="col-lg-8">
    <!-- Post content-->
    <article>
        <!-- Post header-->
        <header class="mb-4">
            <!-- Post title-->
            <h1 class="fw-bolder mb-1">{{ post.title }}</h1>
            <!-- Post meta content-->
            <div class="text-muted fst-italic mb-2">توسط {{ post.author }} در تاریخ {{ post.published_at }} منتشر شده
            </div>
            <!-- Post categories-->
            {% for category in post.category.all %}
            <a class="badge bg-secondary text-decoration-none link-light" href="#!">{{category.name}}</a>
            {% endfor %}

        </header>
        <!-- Preview image figure-->
        <figure class="mb-4"><img class="img-fluid rounded" src="https://dummyimage.com/900x400/ced4da/6c757d.jpg"
                alt="..." /></figure>
        <!-- Post content-->
        <section class="mb-5">
            <p class="fs-5 mb-4">{{ post.content }}</p>
        </section>
    </article>
    <a href="{% url 'blog:post_share' post.id %}">share</a>



    <!-- Comments section-->
    <!-- {% include 'partials/_comment_form.html'%} -->
    <form action="{% url 'blog:post_comment' post.id %}" method="post" class="mb-4">
        {{ form.as_p }}
        {% csrf_token %}
        <input type="submit" value="ارسال">
    </form>
    <section class="mb-5">
        {% for comment in comments %}
        <div class="card bg-light">
            <div class="card-body">
                <div class="d-flex">
                    <div class="flex-shrink-0"><img class="rounded-circle"
                            src="https://dummyimage.com/50x50/ced4da/6c757d.jpg" alt="..." /></div>
                    <div class="ms-3">
                        <div class="fw-bold">{{ comment.name }}</div>
                        {{ comment.body|linebreaks}}
                    </div>
                    {% empty %}
                    <p>هیچ کامنتی درج نشده</p>
                </div>
            </div>
        </div>
</div>
{% endfor %}
</section>
</div>
{% endblock content %}