{% extends 'base.html' %}

<!-- Title ------------------->
{% block title %} پروفایل {% endblock title %}

{% block content %}

    <!-- show Message --------------------------------------------->
    {% include 'partials/_messages.html' %}

    <a href="{% url 'accounts:create_post' %}">ایجاد مقاله</a>
        
    {% for post in posts %}

    <div class="p-3 mb-2 bg-secondary text-white">
        <p><a href="{{ post.get_absolute_url }}">{{post.title}}</a></p>
        <a href="">حذف</a>
        <a href="{% url 'accounts:edit_post' post.id %}">ویرایش</a>
    </div>

    {% empty %}
    <h3>در حال حاضر شما مقاله ای منتشر نکرده اید</h3>
    {% endfor %}

{% endblock %}